
{% extends "layout.html" %}
{% block content %}
    <h1>Welcome All Cards</h1>
    {% for card in cards %}
    <div id='card-{{card.id}}' class='jumbotron container'>
        <div id='img' class='img col-lg-6'>
            <img src="{{ url_for('static', filename='public/img/' + card.img)  }}">
        </div>
        <div id='text-card-{{card.id}}' class='col-lg-5 hidden-lg text-col'>
            <h4>Artist: <p class="d-inline">{{ card.artist }}</p></h4>
            <h4>Name: <p class="d-inline">{{ card.name  }}</p></h4>
            <h4>Year: <p class="d-inline">{{ card.year }}</p></h4>
            <h4>Medium: <p class="d-inline">{{ card.medium }}</p></h4>
            <h4>Notes: 
                <ul>
                {% for note in card.formatted_notes %}
                <li><p>{{ note }}</p></li>
                {% endfor %}
                </ul>
            </h4>
        </div>
        <form action="{{ url_for('card.delete', postId=card.id) }}" method='post'>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input class='pull-right' type='submit' value='x'></input>
        </form>
        <form action="{{ url_for('card.update', postId=card.id) }}" method='post'>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input class='pull-right' type='submit' value='Update'></input>
        </form>
    </div>
     {% endfor %}

{% endblock %}

