
{% extends "layout.html" %}
{% block content %}
    <h1>Welcome All Cards</h1>
    {% for card in cards %}
    <div id='card-{{card.id}}' class='jumbotron container'>
             <div id='img' class='img col-lg-6'>
                 <img src="{{ url_for('static', filename='public/img/' + card.img)  }}">
             </div>
             <div id='text-card-{{card.id}}' class='col-lg-6 hidden-lg text-col'>
                 <h3>Artist: <p id='artist'>{{ card.artist }}</p></h3>
                 <h3>Name: <p id='name'>{{ card.name  }}</p></h3>
                 <h3>Year: <p id='year'>{{ card.year }}</p></h3>
                 <h3>Medium: <p id='medium'>{{ card.medium }}</p></h3>
             </div>
         </div>
     {% endfor %}

{% endblock %}

